<main class="main-content"></main>
    <div class="container">
        <h1>✨ Spark ✨ </h1>

        <section class="publish-box">
            <form action="/publish" method="POST">  
                <textarea 
                    name="content" 
                    id="sparkContent" 
                    placeholder="¿Listo para encender nuevas ideas?" 
                    required 
                    maxlength="300"
                ></textarea>
                
                <button type="submit" id="btnPublish">Chispas!✨</button>
            </form>
            <div style="clear: both;"></div>
        </section>

        <hr />

        <div id="feed">
            {{#each sparks}}
                <div class="spark-card">
                      <strong class="user-handle">@{{this.username}}</strong>
                    <p>{{this.content}}</p> 
                    <small>Enviado a las: {{formatDate this.created_at}}</small>
                </div>
            {{else}}
                <p class="empty-msg">Aún no hay chispas... ¡Sé el primero en encender una! ✨</p>
            {{/each}}
        </div>
    </div>
</main>