<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Spark - Enciende la conversación</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <h1>✨ Spark ✨</h1>

        <section class="publish-box">
            <form action="/sparks" method="POST">
                <textarea 
                    name="content" 
                    id="sparkContent" 
                    placeholder="¿Listo para encender nuevas ideas?" 
                    required 
                    maxlength="300"
                ></textarea>
                
                <button type="submit">Chispas!✨</button>
            </form>
            <div style="clear: both;"></div>
        </section>

        <hr />

        <div id="feed">
            {{#each sparks}}
                <div class="spark-card">
                </div>
            {{else}}
                <p class="empty-msg">Aún no hay chispas. ¡Sé el primero en encender una! ✨</p>
            {{/each}}
        </div>
    </div>

    <script src="/script.js"></script>
</body>
</html>