<article class="single-post">
    <a href="/feed">⬅ Volver al muro</a>
    <div class="content">
        {{!-- <strong>@{{spark.User.username}}</strong>
        <p>{{spark.content}}</p>
        <small>Publicado el: {{spark.createdAt}}</small> --}}
    </div>
</article>