{{!-- <header class="profile-header">
    {{!-- <img src="" alt="Avatar">
    <h1>{{user.name}}</h1>
    <p>@{{user.username}}</p> 
</header>

<h3>Mis publicaciones</h3>
{{!-- <div class="my-sparks">
    {{#each userSparks}}
        {{> sparkCard}} {{/each}} 
</div> --}}