<h2>Configuración de la Cuenta</h2>
<form action="/user/update?_method=PUT" method="POST">
    <label>Cambiar Nombre:</label>
    <input type="text" name="name" value="{{user.name}}">
    <button type="submit">Guardar Cambios</button>
</form>

<hr>
<button class="btn-danger" onclick="confirmDelete()">Eliminar mi cuenta</button>