<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <p><strong>✨ Spark ✨</strong> &copy; 2026 - Proyecto Full Stack ~ Desarrollado por Claudia Cofré</p> 
        </div>
    </div>
</footer>