
<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="/">✨ Spark</a>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="/feed" class="nav-link" >Inicio</a></li>
                <li><a href="/profile"  class="nav-link">Mi Perfil</a></li>
                <li><a href="/settings" class="nav-link">Ajustes</a></li>
                <li><a href="/logout" class="btn-logout">Salir</a></li>
                  {{!-- <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="btn-logout">Salir</button> --}}
                </form>
            </ul>
        </nav>
    </div>
</header>

